<!-- <mat-toolbar color="primary" style="min-height: 55px !important; height: 55px !important;" class="mat-elevation-z6" *ngIf="!SignedIn||consigneeLoggedIn" >
    <button mat-icon-button  *ngIf="SignedIn" class="example-icon"  aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../assets/images/logo.png" style="width:150px;height:50px">
    <span class="example-spacer"></span>
    <button mat-button (click)="openDialog()" *ngIf="!SignedIn">SIGNUP
    <span class="material-icons">
  app_registration
  </span>
    </button>
  <div class="example-button-container" *ngIf="consigneeLoggedIn">
    <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon">
      <mat-icon>user</mat-icon>
    </button>
  </div>
  <h1 *ngIf="consigneeLoggedIn">{{ consigneeName }}</h1>
  </mat-toolbar>
  
  
  <mat-toolbar *ngIf="SignedIn && sellerSignedIn">
    <i class="material-icons">dashboard</i>
    SellerDashboard
  </mat-toolbar> -->